In [2]:
import numpy as np
import pandas as pd
import sys
from genericpath import exists
from os import makedirs

In [2]:
from process.base_pop import base_pop_wrapper
from process.household import household_wrapper

# Step 1: Generate Synthetic Agent Population

In [75]:
OUTPUT_DIR = '/Users/shashankkumar/Documents/GitHub/MacroEcon'
AGENTS_DF_PATH = '../step1/all_nta_agents.npy'

In [ ]:
if not exists(OUTPUT_DIR):
    makedirs(OUTPUT_DIR)

agents_data = np.load(AGENTS_DF_PATH, allow_pickle=True).item()

In [ ]:
base_population,base_address = base_pop_wrapper(input_data=agents_data['valid_ntas'],input_mapping=agents_data['mapping'],use_parallel=True,n_cpu=8)
base_population.to_pickle(OUTPUT_DIR + "/base_population.pkl")

Load Base Population

In [78]:
base_pop = pd.read_pickle(OUTPUT_DIR + "/base_population.pkl")

# Household

In [3]:
def map_age_to_range(age):
    if age < 20:
        return 'U19'
    elif 20 <= age <= 29:
        return '20t29'
    elif 30 <= age <= 39:
        return '30t39'
    elif 40 <= age <= 49:
        return '40t49'
    elif 50 <= age <= 64:
        return '50t64'
    else:
        return '65A'

In [ ]:
adult_list = ['20t29','30t39', '40t49', '50t64', '65A']
children_list = ['U19']
base_pop_path = "/Users/shashankkumar/Documents/GitHub/MacroEcon/base_population.pkl"
base_pop = pd.read_pickle(base_pop_path)

household_data_path = "/Users/shashankkumar/Documents/GitHub/MacroEcon/housing_v2.pkl"
household_data = pd.read_pickle(household_data_path)

In [ ]:
geo_address_data = None
use_parallel = True
n_cpu = 8

base_pop, base_address = household_wrapper(
    household_data,
    base_pop,
    base_address = None,
    adult_list=adult_list,
    children_list=children_list,
    map_age_to_range = map_age_to_range,
    geo_address_data=geo_address_data,
    use_parallel=use_parallel,
    n_cpu=n_cpu,
)

base_pop.to_pickle("data/step2/synpop.pkl")

In [3]:
# base_pop = pd.read_pickle(OUTPUT_DIR + "/base_population.pkl")
base_pop = pd.read_pickle("/Users/shashankkumar/Documents/GitHub/MacroEcon/data/step2/process/base_population.pkl")

In [5]:
base_pop['household']

0         2481.0
1        17095.0
2         5274.0
3          794.0
4        13001.0
          ...
37513    10075.0
37514    13569.0
37515     7111.0
37516     9688.0
37517      367.0
Name: household, Length: 37518, dtype: float64

In [7]:
base_pop[base_pop['household']==17095.0]

,area,age,gender,ethnicity,education,employment_insurance,household
1,BK0101,U19,Male,white,college_degree,employed_insured,17095.0
1722,BK0101,U19,Female,white,high_school,employed_insured,17095.0
5239,BK0101,20t29,Female,white,college_degree,employed_insured,17095.0
14370,BK0101,30t39,Female,hispanic,college_degree,employed_insured,17095.0
15470,BK0101,30t39,Male,other,studying,employed_insured,17095.0
21223,BK0101,30t39,Male,white,studying,employed_insured,17095.0
30865,BK0101,50t64,Female,white,graduate_degree,nolabor_uninsured,17095.0
31232,BK0101,50t64,Male,white,studying,employed_insured,17095.0