In [15]:
import pandas as pd
import torch

In [9]:
cases_data = pd.read_csv('/Users/shashankkumar/Documents/GitHub/MacroEcon/models/covid/data/county_data.csv')
cases_data = cases_data[cases_data['county'] == 'Kings County'].sort_values('date')
cases_data['date'] = pd.to_datetime(cases_data['date'])
cases_data['year'] = cases_data['date'].dt.year
cases_data['month'] = cases_data['date'].dt.month
monthly_cases = cases_data.groupby(['year', 'month'])['cases_week'].sum().reset_index()
monthly_cases['year'] = monthly_cases['year'].astype(int) - monthly_cases['year'].astype(int).min() +1 
monthly_cases.reset_index()

    index  year  month  cases_week
0       0     1      8        80.0
1       1     1      9        72.0
2       2     1     10       204.0
3       3     1     11       453.0
4       4     1     12       892.0
5       5     2      1      1702.0
6       6     2      2       883.0
7       7     2      3       874.0
8       8     2      4       701.0
9       9     2      5       205.0
10     10     2      6        33.0
11     11     2      7       184.0
12     12     2      8       413.0
13     13     2      9       397.0
14     14     2     10       286.0
15     15     2     11       364.0
16     16     2     12      2262.0
17     17     3      1      6222.0
18     18     3      2       326.0
19     19     3      3       165.0
20     20     3      4       709.0
21     21     3      5      1153.0
22     22     3      6       814.0
23     23     3      7      1205.0
24     24     3      8       580.0
25     25     3      9       442.0
26     26     3     10       388.0

In [13]:
monthly_cases.to_pickle('/Users/shashankkumar/Documents/GitHub/MacroEcon/simulator_data/census_populations/NYC/simulation_input/processed_kings_county_monthly_cases.pkl')

In [12]:
monthly_cases = monthly_cases['cases_week']

In [18]:
monthly_cases.values

array([  80.,   72.,  204.,  453.,  892., 1702.,  883.,  874.,  701.,
        205.,   33.,  184.,  413.,  397.,  286.,  364., 2262., 6222.,
        326.,  165.,  709., 1153.,  814., 1205.,  580.,  442.,  388.])

In [17]:
torch.tensor(monthly_cases.values).float()

tensor([  80.,   72.,  204.,  453.,  892., 1702.,  883.,  874.,  701.,  205.,
          33.,  184.,  413.,  397.,  286.,  364., 2262., 6222.,  326.,  165.,
         709., 1153.,  814., 1205.,  580.,  442.,  388.])