In [1]:
import pandas as pd

In [3]:
demographic_file = '/Users/shashankkumar/Documents/AgentTorch_Official/AgentTorch/AgentTorch/helpers/census_data/nyc/nta/demo_2021acs5yr_nta.xlsx'
demo_df = pd.read_excel(demographic_file)

In [18]:
demo_df

,GeoType,NTAType,GeogName,GeoID,Borough,Pop_1E,Pop_1M,Pop_1C,Pop_1P,Pop_1Z,...,AsnOAsnE,AsnOAsnM,AsnOAsnC,AsnOAsnP,AsnOAsnZ,Asn2plE,Asn2plM,Asn2plC,Asn2plP,Asn2plZ
0,NTA2020,0,Greenpoint,BK0101,Brooklyn,37518,1616.0,2.6,100.0,0.0,...,29,28.0,58.6,1.9,1.8,73,65.0,53.9,4.9,4.2
1,NTA2020,0,Williamsburg,BK0102,Brooklyn,63316,2630.0,2.5,100.0,0.0,...,72,74.0,62.6,1.4,1.5,189,106.0,34.1,3.8,2.0
2,NTA2020,0,South Williamsburg,BK0103,Brooklyn,47065,3700.0,4.8,100.0,0.0,...,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
3,NTA2020,0,East Williamsburg,BK0104,Brooklyn,53478,2471.0,2.8,100.0,0.0,...,47,41.0,52.7,1.0,0.8,123,89.0,44.0,2.5,1.8
4,NTA2020,0,Brooklyn Heights,BK0201,Brooklyn,24775,1331.0,3.3,100.0,0.0,...,0,NaN,NaN,NaN,NaN,74,56.0,46.2,4.0,2.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,NTA2020,9,Freshkills Park (North),SI0291,Staten Island,0,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
258,NTA2020,9,Freshkills Park (South),SI0391,Staten Island,23,17.0,44.9,100.0,0.0,...,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
259,NTA2020,9,Hoffman & Swinburne Islands,SI9591,Staten Island,0,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
260,NTA2020,9,Miller Field,SI9592,Staten Island,260,265.0,62.0,100.0,0.0,...,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
261,NTA2020,9,Great Kills Park,SI9593,Staten Island,0,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN

In [13]:
list_of_boroughs = demo_df['Borough'].unique()

In [14]:
demo_df_b = []
for b in list_of_boroughs:
    demo_df_b.append(demo_df[demo_df['Borough'] == b])

In [17]:
for i in range(len(demo_df_b)):
    print(demo_df_b[i]['Pop_1E'].sum())

2712360
1473354
1657374
2399765
493194